altgraph==0.17.5
anyio==4.14.2
av==18.0.0
certifi==2026.6.17
cffi==2.1.0
click==8.4.2
colorama==0.4.6
comtypes==1.4.16
ctranslate2==4.8.1
faster-whisper==1.2.1
filelock==3.30.1
flatbuffers==25.12.19
fsspec==2026.6.0
h11==0.16.0
hf-xet==1.5.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.23.0
idna==3.18
numpy==2.5.1
onnxruntime==1.27.0
packaging==26.2
pefile==2024.8.26
pillow==12.3.0
protobuf==7.35.1
pycparser==3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pynput==1.8.2
pyperclip==1.11.0
pystray==0.19.5
pywin32==312
pywin32-ctypes==0.2.3
PyYAML==6.0.3
setuptools==83.0.0
six==1.17.0
sounddevice==0.5.5
tokenizers==0.23.1
tqdm==4.68.4
typing_extensions==4.16.0
uiautomation==2.0.29
